.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  height: 300px;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgb(255, 255, 255);
  animation: entradaSuave 0.3s ease-out forwards;
  button{
    margin: 10px;
    background: rgba(235, 235, 235, 0.263);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgb(255, 255, 255);
    font-weight: 100;
    width: 100px;
    transition: backgorund-color 0.3s ease ,border 0.3s ease;
  }
  button:hover{
     background: rgba(0, 0, 0, 0.075);
      border: 1px solid rgba(0, 0, 0, 0.344);
  }

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

:host .mat-mdc-dialog-surface {
  /* cambia el color de fondo del modal */
  background: rgba(182, 182, 182, 0) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1),
        inset 0 5px 15px -3px rgba(255, 255, 255, 0.7),
        inset 0 -5px 15px -3px rgba(0, 0, 0, 0.1);
}

.custom-dialog-background .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #110d0d !important; /* El color de fondo que desees */
  color: #ffffff; /* Opcional: cambia el color del texto si tu fondo es oscuro */
}



@keyframes entradaSuave {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
