.height-100{
   min-height: calc(100dvh - 75px);
}

.w-35{
    width: 35%;
}

@media (max-width: 1000px){
    .w-35{
        width: 90%;
    }
}

@media (max-width: 700px){
    .w-35{
        width: 100%;
    }
}