<div class="container height-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center mb-3">Inicio de Sesion</h1>
    <form 
        class="bubble-element rounded-2 p-4 w-35"
        (ngSubmit)="login()"
    >
        <div class="form-group mb-4">
            <label for="email">Email </label>
            <input 
                type="email" 
                class="form-control" 
                placeholder="ejemplo@ejemplo.com"
                [(ngModel)]="email"
                name="email"
            >
        </div>
        <div class="form-group mb-4">
            <label for="password">Contraseña</label>
            <input 
                type="password" 
                class="form-control" 
                id="password"
                [(ngModel)]="password"
                name="password"
            >
        </div>
        <!-- <div class="form-group mb-4">
            <small id="emailHelp" class="form-text text-danger">No se ha podido iniciar sesión, Error en usuario o contraseña</small>
        </div> -->

        <button type="submit" class="btn btn-primary mb-4">Iniciar Sesion</button>

        <div class="form-group mb-4 text-center">
            <a routerLink="/signup" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">No tienes una cuenta? Registrate</a>
        </div>
    </form>
</div>

