<header class="px-2 border-bottom border-1 bg-white">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand font-oleo fs-2" routerLink="">Flow Focus</a>

      <button class="btn p-0 fs-1 d-md-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="bi bi-list text-black "></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <nav-componet></nav-componet>

      </div>
    </div>
  </nav>
</header>