<aside class="bg-light bubble-element p-4 d-none d-sm-none d-md-flex">
    <div class="d-flex flex-column flex-shrink-0">
    <ul class="nav nav-pills flex-column mb-auto ">
      <li class="nav-item">
        <!-- <a href="#" class="nav-link active" aria-current="page"> -->
            <a routerLink="" class="nav-link text-black ">
          Pomodoro
        </a>
      </li>
      <li>
        <a routerLink="" class="nav-link text-black">
          Cronometro
        </a>
      </li>
      <li>
        <a routerLink="" class="nav-link text-black">
          Kanban
        </a>
      </li>
      <li>
        <a routerLink="" class="nav-link text-black">
          Notas
        </a>
      </li>
      <li>
        <a routerLink="" class="nav-link text-black">
          Calendar
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropend ">
      <a routerLink="" class="d-flex align-items-center text-decoration-none dropdown-toggle text-black" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle me-2 fs-2"></i>
        <strong>username</strong>
      </a>
      <ul class="text-black dropdown-menu dropdown-menu-dark text-small bubble-element" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item text-black" routerLink="">Tema</a></li>
        <li><a class="dropdown-item text-black" routerLink="">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="text-black dropdown-item " routerLink="">Cerrar Sesion</a></li>
      </ul>
    </div>
  </div>
</aside>