aside{
    min-height: calc(100dvh - 75px);
    
}
aside >div {
    min-width: 200px;
}

.bubble-element {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1),
        inset 0 5px 15px -3px rgba(255, 255, 255, 0.7),
        inset 0 -5px 15px -3px rgba(0, 0, 0, 0.1);
}
