

.card {
    min-width: 450px;
}

.bubble-element {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1),
        inset 0 5px 15px -3px rgba(255, 255, 255, 0.7),
        inset 0 -5px 15px -3px rgba(0, 0, 0, 0.1);
}

.banner-container {
    height: 200px;
    background-color: #fff;
    position: relative;
    margin: 15px 15px 0 15px;
}

.banner-image {
    width: 100%;
    height: 100%;
    /* Imagen de ondas abstractas similar a la de tu diseño */
    /* light-banner.png */
    background-image: url('/img/fondo-perso.png');
    background-size: cover;
    background-position: center;
}

.profile-pic-container {
    position: absolute;
    z-index: 50;
    bottom: -50px;
    left: 30px;
}

.profile-pic {
    width: 130px;
    height: 130px;
    background-color: #000;
    border-radius: 50%;
    /* Borde del mismo color que la tarjeta para integrar */
}

@media (min-width: 1400px) { 
    /* XXL */
    .card {
    min-width: 650px !important;
}
 }

@media (min-width: 1200px) { 
    /* XL */
.card {
    min-width: 550px !important;
}
 }

@media (max-width: 576px) {
    /* SM */
    .card {
    min-width: 350px !important;
}
}