<div class="d-flex flex-row">
    <aside-menu-component></aside-menu-component>
    <main class="w-100 p-3 p-xl-5 d-flex justify-content-center">
        <div class="card bubble-element p-1 p-md-2 rounded-4">
            <div class="banner-container">
                <div class="banner-image rounded-top-2"></div>
                <div class="profile-pic-container">
                    <div class="profile-pic"></div>
                </div>
            </div>

            <div class="card-body bubble-element m-3 mt-0 rounded-bottom-2 d-flex flex-column justify-content-between">
                <div>
                    <div class="d-flex flex-row justify-content-between align-items-center mt-5">
                        <h5 class="card-title fs-3">User Name</h5>
                        <!-- <button class="btn">
                            <i class="bi bi-pencil-square fs-3"></i>
                        </button> -->
                    </div>
                    <div class="card-text">email</div>
                </div>

                <div>
                    <a routerLink="" class="btn btn-primary w-100">Ver Escritorio</a>
                </div>
            </div>
        </div>
    </main>
</div>