
.colorEvent1{
    background-color: #6e7ed8;
}
.colorEvent2{
    background-color: #f77067;
}
.colorEvent3 {
    background-color: #6cc981;
}

.colorEvent4 {
    background-color: #e6d27b;
}

.colorEvent5 {
    background-color: #bb78c9;
}