:host ::ng-deep .fc .fc-toolbar-title {
  font-size: 1rem !important; 
  font-weight: bold;          
}
:host ::ng-deep .fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 0.5em;
}

:host ::ng-deep .fc .fc-button {
  padding: 0.25rem 0.5rem !important; 
  font-size: 0.85rem !important; 
}

:host ::ng-deep .fc .fc-timegrid-axis,
:host ::ng-deep .fc .fc-timegrid-slot-label {
  width: 25px !important; /* Ajusta este número a lo que necesites */
  min-width: 25px !important;
  max-width: 25px !important;
}

:host ::ng-deep .fc .fc-day-today {
  background-color: #ffffff7c !important;
}

:host ::ng-deep .fc .fc-daygrid-day-number {
  font-family: 'Inter', sans-serif; 
  font-size: 1.1rem;               
  font-weight: 600;                
  color: #000000;            
  padding: 8px;                    
  text-decoration: none !important;
}

:host ::ng-deep .fc .fc-col-header-cell-cushion {
  color: #000000;             
  font-weight: 700;           
  text-transform: uppercase;  
  font-size: 0.85rem;        
  letter-spacing: 1px;        
  text-decoration: none !important;
}

:host ::ng-deep .fc {
    backdrop-filter: blur(50px);
}
:host ::ng-deep .fc .fc-daygrid-day-number {
  padding: 1px !important;
}
.bubble-element{
    max-height: 350px;
}