@if(calendar()){
    <div class="bubble-element rounded-2 p-2">
        <div class="border-bottom d-flex flex-row justify-content-between align-items-center">
            <h5>{{ calendar()?.name }}</h5>
            <button class="bg-transparent border-0" (click)="emptySpace()">
                <i class="bi bi-x-circle fs-5"></i>
            </button>
        </div>
        @if(calendarOptions){
        <full-calendar [options]="calendarOptions" [events]="events()"></full-calendar>
        } @else {
        <div>Cargando calendario...</div>
        }

    </div>

} @else {
<div>Cargando calendario...</div>
}