<div class="d-flex flex-row">
    <aside-menu-component></aside-menu-component>
    <main class="w-100 p-4 p-lg-5">
        <h1>Cronometros</h1>
        <div class="container">
            <div class="row">
            <div class="col-12 col-lg-6">
                <div class="p-3 border bg-light">
                    <detail-chronometer></detail-chronometer>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <add-chronometer></add-chronometer>
            </div>
        </div>
        </div>
        
    </main>
</div>