
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
          @if (funcSpace1 === 'none' && (!addFunction || activeSpace !== 1)) {
            <button class="btn" (click)="toggleFunction(1)">
              <i class="bi bi-plus-circle fs-2"></i>
            </button>
          }

          @if (addFunction && activeSpace === 1) {
            <selct-function (functionSend)="functionSelected($event)"></selct-function>
          }

          @if (funcSpace1 === 'pomodoro') {
            <pomodoro (close)="closeComponent(1)"></pomodoro>
          }
          @if (funcSpace1 === 'chronometer') {
            <detail-chronometer (close)="closeComponent(1)"></detail-chronometer>
          }
        </div>

        <div class="col d-flex justify-content-center align-items-center">
          @if (funcSpace2 === 'none' && (!addFunction || activeSpace !== 2)) {
            <button class="btn" (click)="toggleFunction(2)">
              <i class="bi bi-plus-circle fs-2"></i>
            </button>
          }

          @if (addFunction && activeSpace === 2) {
            <selct-function (functionSend)="functionSelected($event)"></selct-function>
          }

          @if (funcSpace2 === 'pomodoro') {
            <pomodoro (close)="closeComponent(2)"></pomodoro>
          }
        </div>

        <div class="col d-flex justify-content-center align-items-center">
          @if (funcSpace3 === 'none' && (!addFunction || activeSpace !== 3)) {
            <button class="btn" (click)="toggleFunction(3)">
              <i class="bi bi-plus-circle fs-2"></i>
            </button>
          }

          @if (addFunction && activeSpace === 3) {
            <selct-function (functionSend)="functionSelected($event)"></selct-function>
          }

          @if (funcSpace3 === 'pomodoro') {
            <pomodoro (close)="closeComponent(3)"></pomodoro>
          }
        </div>
      </div>
    </div>


