<div class="d-flex flex-row">
  <aside-menu-component></aside-menu-component>
  <main class="w-100 p-3">
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex justify-content-center align-items-center">
                <button class="btn">
                    <i class="bi bi-plus-circle fs-2"></i>
                </button>
            </div> 
            <div class="col-4 d-flex justify-content-center align-items-center">
                <button class="btn">
                    <i class="bi bi-plus-circle fs-2"></i>
                </button>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <button class="btn">
                    <i class="bi bi-plus-circle fs-2"></i>
                </button>
            </div>
        </div>
    </div>
  </main>
</div>
 
