:root {
  @include mat.dialog-overrides((
    container-color: orange,
    subhead-color: red,
  ));
}
.bubble-element {
    background: rgba(182, 182, 182, 0);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1),
        inset 0 5px 15px -3px rgba(255, 255, 255, 0.7),
        inset 0 -5px 15px -3px rgba(0, 0, 0, 0.1);
}
body{
    background-image: url(/img/bg.jpeg);
    background-size: cover;
}
/* *{
    color: #fff;
} */
/* a{
    color: #fff !important;
} */